parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            identifier: method.notFound
            reportUnmatched: false
        -
            identifier: typeCoverage.constantTypeCoverage
            reportUnmatched: false
